<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:fullBackupContent="false"
        tools:replace="android:fullBackupContent">
        <activity
            android:name="com.izettle.android.auth.OAuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="@string/oauth_activity_task_affinity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zettle-auth"
                    android:scheme="tukkateatteri-zettle" />
            </intent-filter>
        </activity>
    </application>
</manifest>
